:root {
  --base: #b0a992;
  --spacing: 10px;
  --blur: 0px;
}

img {
  width: 60vw;
  background: var(--base);
  padding: var(--spacing);
  filter: blur(var(--blur));
  padding-bottom: 20px;
}

body {
  text-align: center;
  background: #f7f7f7;
  color: #f7f7f7;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.hl {
  color: var(--base);
}

h2 {
  display: inline-block;
  background-color: #494949;
}

label {
  color: #494949;
}

.controls {
  margin-bottom: 50px;
}

input {
  width: 100px;
}

/**********
input range
**********/

.slider {
  -webkit-appearance: none;
  width: 125px;
  height: 7px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #494949;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #494949;
  cursor: pointer;
  border: none;
}